{{ $ := .root }} {{ $page := .page }}
<!-- Collaborators widget -->
<style>
  * {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
</style> 
<div class="row">
  <div class="col-xs-12 col-md-4">
    <h1>{{ with $page.Title }}{{ . | markdownify }}{{ end }}</h1> {{ with $page.Params.subtitle }}</center>
    <p>{{ . | markdownify }}</p>{{ end }}
  </div>
  <div class="row">
    {{range $page.Params.collaborator}}
    {{if eq .show true}}
    <div class="column">
        <a href="{{.link}}" target="_blank"><img class='collaborator-image avatar-circle' src="/img/collaborators/{{.image}}" alt="Avatar" class="portrait" style="width: 100px; height: 100px;/></a>
        <a href="{{.link}}" target="_blank">
      <div class='collaborator-name'>
        {{.id}}
      </div>
      </a>
      <div class='collaborator-position'>
        {{.position}}
      </div>
    </div>
    {{end}}
    {{end}}
  </div>
</div>
